* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 40px 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap:30px;
    color: black
}

.nav-bar a {
    text-decoration: none;
}

.login button {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

/*Parte da cta*/
.cta {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 100px;

}


.cta h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.cta-buttons {
    margin-top: 20px;
}

.first-btn {
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
}

.second-btn {
    background-color: white;
    color: black;
    padding: 6px;
}

.cta-image img {
    width: 400px;
    height: 400px;
}


/*Parte dos textos*/
.section-text {
    text-align: center;
    padding: 60px 20px;
}

.section-text span {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.section-text .text h2 {
    margin-bottom: 20px;
}

/*Parte das features*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
  text-align: center;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.feature {
  max-width: 300px;
}

.buttons-features {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.second-btn,
.third-btn {
  padding: 10px 20px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
}




body {
    background-color: white;
}