* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap:30px;
    color: black
}

.nav-bar a {
    text-decoration: none;
}

.login button {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

/*Primeira parte da main*/
.cta {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 80px;
}


.cta h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.cta-buttons {
    margin-top: 20px;
}

.first-btn {
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
}

.second-btn {
    background-color: white;
    color: black;
    padding: 6px;
}

cta-image img {
    width: 100px;
    height: 100px;
}


/*Segunda parte da main*/

body {
    background-color: white;
}